[Desktop Entry]
Type=Application
Name=kleiner-brauhelfer
Comment=Ein Programm zum berechnen und verwalten von Biersuden
Exec=kleiner-brauhelfer
Icon=kleiner-brauhelfer
Categories=Office;
