body {
  font-family: Arial;
  font-size: 10pt;
  background-color: #191919;
  color: #ffffff;
}


body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #353535;
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  color: #2a82da;
}

div.r {
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: #353535;
}

div.rm {
  border: 2px solid #353535;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.underline {
  border-bottom: 1pt solid #353535;
}

.value {
  color: #2a82da;
}

.vorhanden {
  color: #82da2a;
}

img.vorhanden {
  content:url("qrc:/images/io.svg");
}

.nichtvorhanden {
  color: #da2a82;
}

img.nichtvorhanden {
  content:url("qrc:/images/nio.svg");
}

.nichtgefunden {
  color: grey;
}

img.nichtgefunden {
  content:url("qrc:/images/nio.svg");
}

img.glas {
  content:url("qrc:/images/bier_dark.svg");
}

img.star {
  content:url("qrc:/images/star.svg");
}

img.star_grey {
  content:url("qrc:/images/star_gr.svg");
}

.version {
  color: #999999;
}

.kommentar {
  color: #555555;
  word-wrap: break-word;
}
