body {
  font-family: Arial;
  font-size: 10pt;
  background-color: white;
  color: black;
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  color: blue;
}

div.r {
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: #dddddd;
  page-break-inside: avoid;
}

div.rm {
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  page-break-inside: avoid;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

h3 {
  font-size: 11pt;
  font-weight: bold;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.underline {
  border-top: 0.5pt solid #dddddd;
}

.value {
  color: blue;
}

.vorhanden {
  color: green;
}

img.vorhanden {
  content:url("qrc:/images/io.svg");
}

.nichtvorhanden {
  color: red;
}

img.nichtvorhanden {
  content:url("qrc:/images/nio.svg");
}

.nichtgefunden {
  color: grey;
}

img.nichtgefunden {
  content:url("qrc:/images/nio.svg");
}

img.glas {
  content:url("qrc:/images/icons/light/svg/bier.svg");
}

img.star {
  content:url("qrc:/images/icons/light/svg/star.svg");
}

img.star_grey {
  content:url("qrc:/images/icons/light/svg/star_gr.svg");
}

.version {
  color: #999999;
}

.kommentar {
  word-wrap: break-word;
}

.bg_malz {
  background-color: #FCF7E0;
}

.bg_hopfen {
  background-color: #DEFDE0;
}

.bg_hefe {
  background-color: #FDEDDE;
}

.bg_zusatz {
  background-color: #F7F0FD;
}

.bg_wasser {
  background-color: #E8F7FD;
}

.bg_kommentar {
  background-color: #F9F9F9;
}

.bg_rasten {
  background-color: #FDE8E8;
}

.bg_anhaenge {
  background-color: #EBFDF5;
}
