body {
  font-family: Arial;
  font-size: 10pt;
  background-color: rgb(255, 255, 255);
  color: rgb(40, 40, 40);
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  color: rgb(150, 110, 200);
}

div.r {
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: rgb(235, 235, 235);
  page-break-inside: avoid;
}

div.rm {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  page-break-inside: avoid;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

h3 {
  font-size: 11pt;
  font-weight: bold;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.underline {
  border-top: 0.5pt solid rgb(235, 235, 235);
}

.value {
  color: rgb(60, 90, 210);
}

.vorhanden {
  color: rgb(70, 120, 45);
}

img.vorhanden {
  content:url("images/io.svg");
}

.nichtvorhanden {
  color: rgb(180, 10, 10);
}

img.nichtvorhanden {
  content:url("images/nio.svg");
}

.nichtgefunden {
  color: rgb(140, 140, 140);
}

img.nichtgefunden {
  content:url("images/nio.svg");
}

img.glas {
  content:url("images/light/glas.svg");
}

img.star {
  content:url("images/light/star.svg");
}

img.star_grey {
  content:url("images/light/star_grey.svg");
}

.version {
  color: rgb(140, 140, 140);
}

.kommentar {
  word-wrap: break-word;
}

.bg_malz {
  background-color: rgb(248, 242, 210);
}

.bg_hopfen {
  background-color: rgb(232, 248, 225);
}

.bg_hefe {
  background-color: rgb(248, 235, 215);
}

.bg_zusatz {
  background-color: rgb(238, 232, 248);
}

.bg_wasser {
  background-color: rgb(228, 242, 248);
}

.bg_kommentar {
  background-color: rgb(245, 245, 245);
}

.bg_rasten {
  background-color: rgb(248, 228, 228);
}

.bg_anhaenge {
  background-color: rgb(245, 245, 245);
}
