body {
  font-family: Arial;
  font-size: 10pt;
  background-color: rgb(20, 20, 25);
  color: rgb(220, 220, 220);
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 50);
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  color: rgb(190, 150, 240);
}

div.r {
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: rgb(45, 45, 50);
  page-break-inside: avoid;
}

div.rm {
  border: 1px solid rgb(45, 45, 50);
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  page-break-inside: avoid;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

h3 {
  font-size: 11pt;
  font-weight: bold;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.underline {
  border-top: 0.5pt solid rgb(45, 45, 50);
}

.value {
  color: rgb(140, 180, 240);
}

.vorhanden {
  color: rgb(85, 130, 70);
}

img.vorhanden {
  content:url("images/io.svg");
}

.nichtvorhanden {
  color: rgb(220, 80, 80);
}

img.nichtvorhanden {
  content:url("images/nio.svg");
}

.nichtgefunden {
  color: rgb(120, 120, 120);
}

img.nichtgefunden {
  content:url("images/nio.svg");
}

img.glas {
  content:url("images/dark/glas.svg");
}

img.star {
  content:url("images/dark/star.svg");
}

img.star_grey {
  content:url("images/dark/star_grey.svg");
}

.version {
  color: rgb(120, 120, 120);
}

.kommentar {
  word-wrap: break-word;
}

.bg_malz {
  background-color: rgb(55, 52, 40);
}

.bg_hopfen {
  background-color: rgb(45, 60, 50);
}

.bg_hefe {
  background-color: rgb(60, 48, 45);
}

.bg_zusatz {
  background-color: rgb(55, 50, 65);
}

.bg_wasser {
  background-color: rgb(40, 55, 65);
}

.bg_kommentar {
  background-color: rgb(60, 60, 60);
}

.bg_rasten {
  background-color: rgb(65, 45, 45);
}

.bg_anhaenge {
  background-color: rgb(60, 60, 60);
}
