Package: kleiner-brauhelfer-2
Version: 2.6.2
Section: misc
Architecture: amd64
Maintainer: kleiner-brauhelfer <bourgeoislab@gmail.com>
Homepage: http://kleiner-brauhelfer.github.io
Description: Ein Programm zum berechnen und verwalten von Biersuden
  Der kleine-brauhelfer ist ein Hilfsprogramm für Hobbybauer zum Erstellen und Verwalten von Biersuden.
