p {
  color: black;
  padding: 0px;
  margin: 0px;
}

.value {
  color: blue;
  margin-left: 5px;
  margin-right: 5px;
}

.h1 {
  color: black;
  font-size: 12pt;
  font-weight: bold;
}

.h2 {
  color: black;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 5px;
}

.version {
  color: #999999;
  font-size: 11pt;
  margin-top: 5px;
}

.kommentar {
  color: #555555;
  margin-bottom: 5px;
  margin-left: 5px;
}

.zugegeben {
  color: #555555;
  margin-bottom: 2px;
  margin-left: 5px;
}

.hinweis {
  color: #d47209;
}

a {
  color: blue;
}

div.r {
  border: 0px solid #dddddd;
  border-radius: 10px;
  padding: 5px;
  background-color: #dddddd;
}

div.rm {
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 5px;
  background-color: #ffffff;
}

div.rmh {
  border: 2px solid #ff0000;
  border-radius: 10px;
  padding: 5px;
  background-color: #ffffff;
}

td {
  padding: 2px;
  margin: 0px;
}

td.r {
  padding: 2px;
  margin: 0px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-width: 1px;
}

td.we {
  background-color: #eba328;
}

tr {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Ubuntu, Arial;
  font-size: 10pt;
  font-style: normal;
  background-color: white;
  color: black;
}