body {
  font-family: Arial;
  font-size: 10pt;
  background-color: white;
  color: black;
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  color: blue;
}

div.r {
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: #dddddd;
}

div.rm {
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.underline {
  border-bottom: 1pt solid #dddddd;
}

.value {
  color: blue;
}

.vorhanden {
  color: green;
}

img.vorhanden {
  content:url("qrc:/images/io.svg");
}

.nichtvorhanden {
  color: red;
}

img.nichtvorhanden {
  content:url("qrc:/images/nio.svg");
}

.nichtgefunden {
  color: grey;
}

img.nichtgefunden {
  content:url("qrc:/images/nio.svg");
}

img.glas {
  content:url("qrc:/images/bier.svg");
}

img.star {
  content:url("qrc:/images/star.svg");
}

img.star_grey {
  content:url("qrc:/images/star_gr.svg");
}

.version {
  color: #999999;
}

.kommentar {
  color: #555555;
  word-wrap: break-word;
}
